<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">

    <title>SOFTWARE</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <!--datePicker-->
    <link href="/style/jquery-ui.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <link href="/style/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>

    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.backstretch.min.js"></script>
    <script src="/javascript/scripts.js"></script>

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <script src="/javascript/chart.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->

    <script src="/javascript/bootstrap-datetimepicker.js"></script>
    <script src="/javascript/bootstrap-datetimepicker.zh-CN.js"></script>


    <style>
        .icon-rounded{
            background-color:#7460ee;
            color: #ffffff;
            border-radius: 50px;
            /* -webkit-border-radius: 50px; */
            -moz-border-radius: 50px;
            -o-border-radius: 50px;
            -ms-border-radius: 50px;
            font-size: 25px;
            width: 60px;
            height: 60px;

            line-height: 60px;
            text-align: center;
        }

        .r3_counter_box {
            min-height: 100px;
            background: #ffffff;
            padding: 15px;
        }

        .stats{
            overflow: hidden;
        }
        
        .chart-wrapper{
            display: flex;
            align-items: center;
            position: relative;
            height: 400px;
            background: #FFFFFF;
        }


        .activity_box{
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            background: #FFFFFF;

            overflow:scroll;
        }

        .activity-row{
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            padding: 5px;

            align-items: center;
        }

        .navbar-brand-right_{
            float:right;
        }
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }


        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        th{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }


        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>

</head>
<body>

<div id="wapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"> <strong> &nbsp &nbsp &nbsp ZXSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->

    <div id="nave_side">

    </div>

    <!--加载侧栏菜单-->
    <script>
        loadMenu();
    </script>

    <!--内容主体-->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="col-md-12">
                <!--推荐管理标题-->
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header" style="color: #FFFFFF;">
                            总览
                        </h1>
                    </div>
                </div>

                <!--推荐管理-->
                <div class="row">
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>总营业额</strong></h5>
                                <span id="account_all"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>本月营业额</strong></h5>
                                <span id="account_month"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>本周营业额</strong></h5>
                                <span id="account_week"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>本日营业额</strong></h5>
                                <span id="account_day"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px">
                    <div class="col-md-8 content-top-2 card">
                        <h3 class="page-header" style="color: #FFFFFF;">
                            点餐情况
                        </h3>

                        <div class="form-inline timePicker">
                            <div class="form-group" style="margin-bottom: 8px; margin-left: 1em;">
                                <lable for="datepicker_start_box" style=";color: #ffffff">选择时间</lable>
                                <div class="input-group date form_date" id="datepicker_start_box"  data-link-field="dtp_input2" >
                                    <input class="form-control" id="datepicker_start" size="10" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 8px; margin-left: 1em;">
                                <button class="btn btn-primary searchData">查找</button>
                            </div>

                        </div>

                        <div class="canvas-wrapper form-group" style=" margin:0px;">
                            <div class="chart-wrapper">
                                <canvas id="line-chart" height="200"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 span_8">
                        <h3 class="page-header" style="color: #FFFFFF;">
                            最受欢迎菜品
                        </h3>

                        <div class="activity_box">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>


    <!--弹出框-->

    <!--添加，修改折扣弹出框-->
    <div id="dialog-discount-update" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">折扣管理 | <span id="dialog-discount-update-title"></span></h4>
                </div>

                <div class="modal-body">
                    <form role="form" class="form-horizontal add-new form-uploadfiles"
                          enctype="multipart/form-data"
                          method="POST">
                        <input type="text" style="display:none;" id="id_discount" name="id_discount"/>
                        <input type="text" style="display:none;" id="createTime_discount" name="id"/>

                        <div class="row">
                            <div class="form-group">
                                <label for="type_discount" class="col-sm-4 control-label">折扣类型</label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="type_discount" name="type_discount">
                                        <option class="discount_option" value="0"> 折扣 </option>
                                        <option class="discount_option" value="1"> 满减 </option>
                                    </select>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="moneyLimit_discount" class="col-sm-4 control-label">条件金额</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="moneyLimit_discount" name="moneyLimit_discount"
                                           data-toggle="tooltip" data-placement="top" maxlength="30"
                                           required="required" readonly/>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="discount" class="col-sm-4 control-label">折扣</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="discount" name="discount"
                                           data-toggle="tooltip" data-placement="top" maxlength="30"
                                           required="required"/>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="startTime_discount" class="col-sm-4 control-label">生效时间</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="startTime_discount" name="startTime"
                                           data-toggle="tooltip" data-placement="top" maxlength="30"
                                           required="required"/>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="endTime_discount" class="col-sm-4 control-label">失效时间</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="endTime_discount" name="endTime"
                                           data-toggle="tooltip" data-placement="top" maxlength="30"
                                           required="required"/>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="enable_discount" class="col-sm-4 control-label">是否启用</label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="enable_discount" name="enable_discount">
                                        <option value="1"> 是 </option>
                                        <option value="0"> 否 </option>
                                    </select>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                                <button type="button" class="btn btn-primary add-new-discount">保存</button>
                                <button type="button" class="btn btn-default add-new-close" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--提示弹出框-->
    <div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
                </div>
                <div class="modal-body"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

<script>
    var contactsNameMap = new Map();
    var IDMapForRecommendAdd = new Map();

    var lineChart;

    var options = {
        scaleOverride :true ,   //是否用硬编码重写y轴网格线
        scaleSteps : 15,        //y轴刻度的个数
        scaleStepWidth : 15,   //y轴每个刻度的宽度
        scaleStartValue : 0,    //y轴的起始值
        scaleLabel : "<%=value%>次",

        showScale : true,
        responsive:true,
        showTooltips: true
    };

    var data_chart = {
        labels : ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"],
        datasets : [
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
            }
        ]
    };

    function adjustPositionOfLineChart(){//adjust the position of line-chart
        console.log("chart-wrapper: " + $(".chart-wrapper").height() );
        console.log("line-chart margin-top: " + $("#line-chart").css("margin-top") );
        console.log("line-chart: " + $("#line-chart").height() );

        if( $(".chart-wrapper").height() > $("#line-chart").height() ){
            $("#line-chart").css("margin-top",  ( $(".chart-wrapper").height() - $("#line-chart").height() ) / 2 );
        }

        console.log("chart-wrapper: " + $(".chart-wrapper").height() );
        console.log("line-chart margin-top: " + $("#line-chart").css("margin-top") );
        console.log("line-chart: " + $("#line-chart").height() );

    }

    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');

        adjustItemHeight();
    });


    $(document).ready(function() {
        adjustItemHeight();

        $('.form_date').datetimepicker({
            format: "yyyy-m-d",
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        var toDayTime = getToDayDateTime();

        $('#datepicker_start').val(  toDayTime.split(" ")[0]  );

        $.ajax({
            url: "/admin/overall/getOverallInfo",
            type: "post",
            processData: false,
            contentType: false,
            success: function (res) {
                switch (res.status) {
                    case "SUCCEED" :
                        //清空选项
                        var orderNumbers = res.orderNumber;

                        var account_month = res.account_month;
                        var account_week = res.account_week;
                        var account_day = res.account_day;
                        var account_all = res.account_all;

                        var order_day = res.order_day;
                        var orderNumber = res.orderNumber;

                        var popularFood = res.popularFood;

                        data_chart.datasets[0].data = orderNumber;

                        $("#account_all").empty();
                        $("#account_all").append( account_all + "元");
                        $("#account_month").empty();
                        $("#account_month").append( account_month  + "元");
                        $("#account_week").empty();
                        $("#account_week").append( account_week  + "元");
                        $("#account_day").empty();
                        $("#account_day").append( account_day  + "元");

                        createPopularFoods(popularFood);

                        displayLineChart( adjustItemHeight );
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html(message);

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-close").click();

                        break
                }
            },
            error: function (r) {
                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });

    });

    function createPopularFoods(popularFoodList){
        var box = $(".activity_box");

        for(i in popularFoodList.foodNames){
            var item = "<div class=\"activity-row\"> " +
                " <img style=\"max-height: 70px\" src='"+ popularFoodList.foodUrls[i] +"' class=\"img-responsive\" alt=\"\"/>" +
                " <div>"+ popularFoodList.foodNames[i] +"</div>" +
                " <div>"+ ( parseInt(i) + 1 ) +"</div>" +
                " </div>";

            box.append(item);
        }
    }

    //重置input
    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');

    }

    //重置表单
    function _reset(from) {
        $("#show-process").empty();

        from[0].reset();

        _reset_input(from.find("input"));

        $("#choosedPic").attr("src","/images/default_avatar_male.jpg");
    }

    function adjustItemHeight(){
        adjustHeight( $(".chart-wrapper"), 10);//调增wrapper的高度，做到根据页面高度，动态响应页面高度。完毕后调整line-chart在wrapper中的位置

        $(".activity_box").height( $(".chart-wrapper").height() + $(".timePicker").height() );
    }


    //重置input框的状态
    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    //折扣和满减的状态切换
    function type_discount_change(type){//1: 满减, 0: 折扣
        switch ( type ){
            case 1 : // 满减
                $("#discount").attr("readonly","readonly");
                $("#moneyLimit_discount").removeAttr("readonly");

                break;

            case 0 : // 折扣
                $("#moneyLimit_discount").attr("readonly","readonly");
                $("#discount").removeAttr("readonly");

                break;

            default :

                break;
        }
    }

    //折扣和满减的类型切换时，对输入框进行无效化操作
    $("#type_discount").change(function (e) {
        var type = parseInt( e.currentTarget.value );

        type_discount_change(type);
    });

    $(".searchData").click(function (e) {
        var time = $("#datepicker_start").val();

        time += " 00:00:00"

        $.ajax({
            url: "/admin/overall/getOrderNumbers",
            type: "POST",
            dataType : 'JSON',
            data : {
                "startTime" : time
            },
            success: function (res) {
                switch (res.status) {
                    case "SUCCEED" :
                        var orderNumber = res.orderNumber;

                        data_chart.datasets[0].data = orderNumber;

                        lineChart.destroy();

                        displayLineChart( adjustPositionOfLineChart );
                        break;

                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html(message);

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-close").click();

                        break
                }
            },
            error: function (r) {
                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });
    });

    function checkBoxClick(e){
        if(IDMapForRecommendAdd.get( e.value ) == undefined){//之前未选中
            IDMapForRecommendAdd.set(e.value,1);
        } else {//之前已选中
            IDMapForRecommendAdd.set(e.value, undefined);
        }
    }


    function refreshChartAndTable(data){
        $.ajaxSettings.async = false;

        $.get("/user/deviceInfo/getHumidityRecord", data, function(r, status) {

            for(i in r.updateTimeRecord){
                r.updateTimeRecord[i] = getTimeFromDateTime( r.updateTimeRecord[i] ) ;
            }

            data_chart.labels = r.updateTimeRecord;

            data_chart.datasets[0].data = r.humidityRecord;

            lineChart.destroy();

            displayLineChart( adjustPositionOfLineChart );

            if(length == 0){
                $("#personInfo").append("未查询到数据");

            }
        });

        $.ajaxSettings.async = true;
    }

    function _formatte_id_discount(value, row, index) {
        if(index == 0){
            contactsNameMap = new Map();
        }

        contactsNameMap.set(value,row.name);

        return '<input name="table_id_discount" type="checkbox" value="' + value + '" />';
    }

    function _formatte_id_recommend(value, row, index) {
        if(index == 0){
            contactsNameMap = new Map();
        }

        contactsNameMap.set(value,row.name);

        return '<input name="table_id_recommend" type="checkbox" value="' + value + '" />';
    }

    function _formatte_id_recommend_dialog(value, row, index) {
        return '<input name="table_id_recommend_dialog" type="checkbox" onclick="checkBoxClick(this)" value="' + value + '" />';
    }

    function _formatte_id_recommend_dialog_update(value, row, index) {
        return '<input name="table_id_recommend_dialog" type="checkbox" onclick="single_select(this)" value="' + value + '" />';
    }

    function _formatte_image(value, row, index) {
        var imgSrc = value;

        console.log("图像信息 :"+value);

        if(value == ""){
            imgSrc = "/images/default_avatar_male.jpg";

            return s = '<a class = "view"  href="javascript:void(0)"><img style="height:60px;border-radius:20%"  src=' + imgSrc+' /></a>';
        }

        var s = '<a class = "view"  href="javascript:void(0)"><img style="height:60px;border-radius:20%"  src="' + imgSrc+ '" /></a>';

        return s;
    }

    function _formatte_select(value, row, index) {
        var styles = value;

        var select = '<select class="form-control">'

        for(i in styles){
            select += '<option> '+i+' </option>';
        }

        select += '</select>'

        return select;
    }

    function _formatte_select_enable(value, row, index) {
        return $.trim(value) ==$.trim('1') ? "是":"否" ;
    }

    function _formatte_time(value, row, index) {
        if(value==undefined){
            return '-'
        }

        return getFormattedTime(value);
    }

    function _formatte_discount(value,row,index){
        if(value == undefined || value==0){
            return "-";
        }

        return value*100+"折"
    }

    function _formatte_discount_type(value, row, index){
        switch (value){
            case 1 :
                return "满减";
            case 0 :
                return "折扣";

        }
    }

    function _formatte_recommend_type(value, row, index){
        switch (value){
            case 1 :
                return "列表";
            case 0 :
                return "轮播";

        }
    }

    function displayLineChart(callback) {
        var ctx = document.getElementById("line-chart").getContext("2d");

        lineChart = new Chart(ctx).Line(data_chart, options);

        callback();
    }

    //注销
    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })
</script>

</body>
</html>