<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">

    <title>SOFTWARE</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <!--datePicker-->
    <link href="/style/jquery-ui.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <link href="/style/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>

    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.backstretch.min.js"></script>
    <script src="/javascript/scripts.js"></script>

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <script src="/javascript/chart.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>

    <script src="/javascript/bootstrap-datetimepicker.js"></script>
    <script src="/javascript/bootstrap-datetimepicker.zh-CN.js"></script>

    <style>
        .icon-rounded{
            background-color:#7460ee;
            color: #ffffff;
            border-radius: 50px;
            /* -webkit-border-radius: 50px; */
            -moz-border-radius: 50px;
            -o-border-radius: 50px;
            -ms-border-radius: 50px;
            font-size: 25px;
            width: 60px;
            height: 60px;

            line-height: 60px;
            text-align: center;
        }

        .r3_counter_box {
            min-height: 100px;
            background: #ffffff;
            padding: 15px;
        }

        .stats{
            overflow: hidden;
        }

        .chart-wrapper{
            display: flex;
            align-items: center;
            position: relative;
            height: 400px;
            background: #FFFFFF;
        }


        .activity_box{
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            background: #FFFFFF;

            overflow:scroll;
        }

        .activity-row{
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            padding: 5px;

            align-items: center;

            background: rgba(240, 240, 240, 0.85);

            margin: 5px;
        }

        /*table thead th{*/
        /*background:#275AB2;*/
        /*}*/
        /*thead{*/
        /*color:#FFFFFF;*/
        /*}*/

        .navbar-brand-right_{
            float:right;
        }
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }


        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        th{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }


        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>

</head>
<body>

<div id="wapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"> <strong> &nbsp &nbsp &nbsp ZXSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->

    <div id="nave_side">

    </div>

    <!--加载侧栏菜单-->
    <script>
        loadMenu();
    </script>

    <!--内容主体-->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="col-md-12">
                <!--推荐管理标题-->
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header" style="color: #FFFFFF;">
                            厨师工作详情
                        </h1>
                    </div>
                </div>

                <!--推荐管理-->
                <div class="row">
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>总服务次数</strong></h5>
                                <span>0</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>本月服务次数</strong></h5>
                                <span>0</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>本周服务次数</strong></h5>
                                <span>0e</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>今日服务次数</strong></h5>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px">
                    <div class="col-md-8 content-top-2 card">
                        <h3 class="page-header" style="color: #FFFFFF;">
                            服务情况
                        </h3>

                        <div class="form-inline timePicker">
                            <div class="form-group" style="margin-bottom: 8px; margin-left: 1em;">
                                <lable for="datepicker_start_box" style=";color: #ffffff">选择时间</lable>
                                <div class="input-group date form_date" id="datepicker_start_box"  data-link-field="dtp_input2" >
                                    <input class="form-control" id="datepicker_start" size="10" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 8px; margin-left: 1em;">
                                <button class="btn btn-primary searchData">查找</button>
                            </div>

                        </div>



                        <div class="canvas-wrapper form-group" style=" margin:0px;">
                            <div class="chart-wrapper">
                                <canvas id="line-chart" height="180"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 span_8">
                        <h3 class="page-header" style="color: #FFFFFF;">
                            最近服务记录
                        </h3>

                        <div class="activity_box">
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <p></p>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                            <div class="activity-row">
                                <img style="max-height: 70px" src='https://rss-1252828635.cos.ap-beijing.myqcloud.com/image/1555471327466.jpg' class="img-responsive" alt=""/>

                                <div>日期</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>

    <!--弹出框-->
    <!--提示弹出框-->
    <div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
                </div>
                <div class="modal-body"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script>
    var contactsNameMap = new Map();
    var IDMapForRecommendAdd = new Map();
    var foodID_recommend_update;

    var cookerID = getUrlParam("cookerID");

    var lineChart;

    var options = {
        scaleOverride :true ,   //是否用硬编码重写y轴网格线
        scaleSteps : 10,        //y轴刻度的个数
        scaleStepWidth : 10,   //y轴每个刻度的宽度
        scaleStartValue : 0,    //y轴的起始值
        scaleLabel : "<%=value%>RH",

        showScale : true,
        responsive:true,
        showTooltips: true
    };

    var data_chart = {
        labels : ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","6","7","8","9","10","11"],
        datasets : [
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : [1,0,2,0,0,0,0,4,0,0,10,5,1,0,2,0,0,0,0,4,0,0,10,5,]
            }
        ]
    };

    function adjustPositionOfLineChart(){//adjust the position of line-chart
        console.log("chart-wrapper: " + $(".chart-wrapper").height() );
        console.log("line-chart margin-top: " + $("#line-chart").css("margin-top") );
        console.log("line-chart: " + $("#line-chart").height() );

        if( $(".chart-wrapper").height() > $("#line-chart").height() ){
            $("#line-chart").css("margin-top",  ( $(".chart-wrapper").height() - $("#line-chart").height() ) / 2 );
        }

        console.log("chart-wrapper: " + $(".chart-wrapper").height() );
        console.log("line-chart margin-top: " + $("#line-chart").css("margin-top") );
        console.log("line-chart: " + $("#line-chart").height() );

    }

    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');

        adjustItemHeight();
    });


    $(document).ready(function() {
        adjustItemHeight();
        //displayLineChart( adjustHeight($("#line-chart")),20 );

        $('.form_date').datetimepicker({
            format: "yyyy-m-d",
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        var toDayTime = getToDayDateTime();

        $('#datepicker_start').val(  toDayTime.split(" ")[0]  );

        $.ajax({
            url: "/admin/cooker/getCookerServiceInfo",
            type: "POST",
            dataType : 'JSON',
            data : {
                cookerID : cookerID
            },
            success: function (res) {
                switch (res.status) {
                    case "SUCCEED" :
                        var list = res.recentServiceList;

                        $("#totalServiceTimes").html(res.totalServiceTimes);
                        $("#monthServiceTimes").html(res.monthServiceTimes);
                        $("#weekServiceTimes").html(res.weekServiceTimes);
                        $("#dayServiceTimes").html(res.dayServiceTimes);

                        data_chart.datasets[0].data = res.serviceTimes;

                        displayLineChart( adjustItemHeight );

                        createServiceListItem(list);

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html(message);

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-close").click();

                        break
                }
            },
            error: function (r) {
                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });

    });

    $(".searchData").click(function(){
        var time = $("#datepicker_start").val();

        time += " 00:00:00";

        $.ajax({
            url: "/admin/cooker/getServiceNumbers",
            type: "POST",
            dataType : 'JSON',
            data : {
                "startTime" : time,
                "cookerID" : cookerID
            },
            success: function (res) {
                switch (res.status) {
                    case "SUCCEED" :
                        var serviceTimes = res.serviceTimes;

                        data_chart.datasets[0].data = serviceTimes;

                        lineChart.destroy();

                        displayLineChart( adjustPositionOfLineChart );

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html(message);

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-close").click();

                        break
                }
            },
            error: function (r) {
                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });
    })

    //重置input
    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');

    }

    //重置表单
    function _reset(from) {
        $("#show-process").empty();

        from[0].reset();

        _reset_input(from.find("input"));

        $("#choosedPic").attr("src","/images/default_avatar_male.jpg");
    }

    function adjustItemHeight(){
        adjustHeight( $(".chart-wrapper"), 10);//调增wrapper的高度，做到根据页面高度，动态响应页面高度。完毕后调整line-chart在wrapper中的位置

        $(".activity_box").height( $(".chart-wrapper").height() + $(".timePicker").height() );
    }

    function displayLineChart(callback) {
        var ctx = document.getElementById("line-chart").getContext("2d");

        lineChart = new Chart(ctx).Line(data_chart, options);

        callback();
    }

    function createServiceListItem(items){
        $(".activity_box").empty();

        for(x in items){
            var picUrl = items[x].picUrl;
            var date = items[x].completeTime;

            date = getFormattedTime(date);

            var item = "<div class=\"activity-row\">\n" +
                "<img style=\"max-height: 70px\" src='"+picUrl+"' class=\"img-responsive\" alt=\"\"/>\n" +
                " \n" +
                "<p>"+date+"</p>\n" +
                "</div>";

            $(".activity_box").append(item);
        }
    }


    //注销
    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })
</script>

</body>
</html>