<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SOFTWARE</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <!--datePicker-->
    <link href="/style/jquery-ui.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>

    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.backstretch.min.js"></script>
    <script src="/javascript/scripts.js"></script>

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>

    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 450px;
            width: 100%;
        }

        .fixed-table-header {
            overflow-x: auto;
            clear:both;
        }

        table thead th{
            background:#275AB2;
        }
        thead{
            color:#FFFFFF;
        }

        .navbar-brand-right_{
            float:right;
        }
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar {
            display: inline-block;
        }

        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }

        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }

        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        th{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }


        .search{
            padding-bottom: 1em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W150 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>

</head>
<body>

<div id="wapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"> <strong> &nbsp &nbsp &nbsp ZXSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->

    <div id="nave_side">

    </div>

    <!--加载侧栏菜单-->
    <script>
        loadMenu();
    </script>

    <!--内容主体-->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        菜品管理
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="_table_user_search" class="table table-striped table-bordered table-hover" data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="id" class="W30" data-formatter="_formatte_id"><input id="doAllCheckBtn" type="checkbox" onclick="doAllCheck(this)"></th>
                                        <th data-field="picUrl" class="W100" data-formatter="_formatte_image">图像</th>
                                        <th data-field="name" class="W100">名称</th>
                                        <th data-field="menuId" class="W100" style="border:none;">一级菜单</th>
                                        <th data-field="styles" class="W100"  data-formatter="_formatte_select">风味</th>
                                        <th data-field="role"  class="W100" style="border:none;">分配厨师</th>
                                        <th data-field="enable" class="W100" style="border:none;">是否启用</th>
                                        <th data-field="createTime" class="W100" style="border:none;">创建时间</th>
                                        <th data-field="updateTime" class="W100" style="border:none;">修改时间</th>
                                    </tr>
                                    </thead>

                                </table>

                                <div id="toolbar">
                                    <button class="btn btn-primary open-add-dialog" data-toggle="modal">新增
                                    </button>
                                    <button class="btn btn-success open-update-dialog" data-toggle="modal">修改
                                    </button>
                                    <button class="btn btn-danger delete-dialog">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>


    <!--弹出框-->

    <!--添加，修改弹出框-->
    <div id="dialog-update" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">菜品管理 | <span id="dialog-update-title"></span></h4>
                </div>

                <div class="modal-body">
                    <form role="form" class="form-horizontal add-new form-uploadfiles"
                          enctype="multipart/form-data"
                          method="POST">
                        <input type="text" style="display:none;" id="id" name="id"/>

                        <div class="row">
                            <div class="col-sm-5 text-center ">
                                <div class="thumbnail">
                                    <img id="choosedPic" style="height: 160px" src="/images/default_avatar_male.jpg">
                                    <div class="caption">
                                        <p>
                                            <label class="btn btn-primary choosePic" for="avatar-2">选择文件</label>
                                            <input id="avatar-2" name="avatar-2"
                                                   type="file" style="display:none"/>

                                            <a class="btn btn-default deletePic" role="button"
                                               style="display: none">删除图片</a>
                                        </p>
                                    </div>

                                    <lable id="show-process" class="control-label" style="color: #f50000;"></lable>

                                </div>
                            </div>

                            <div class="col-sm-7 ">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4 control-label">名称</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="name" name="name"
                                               data-toggle="tooltip" data-placement="top" maxlength="30"
                                               required="required"/>
                                    </div>

                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="form-group">
                                    <label for="menuId" class="col-sm-4 control-label">一级菜单</label>
                                    <div class="col-sm-7">
                                        <select id="menuId" name="menuId" class="form-control">

                                        </select>

                                        <script>
                                            //展示界面用，正式使用需删除
                                            function getPrimaryMenu_test(){
                                                var select = ''

                                                select+='<option value="1"> 热品 </option>';
                                                select+='<option value="2"> 凉菜 </option>';

                                                return select;
                                            }

                                            //展示界面时使用
                                            $("#menuId").html(getPrimaryMenu_test());

                                            //正式使用
                                            //$("#select_primaryMenu").html(getPrimaryMenu());
                                        </script>

                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="form-group">
                                    <label for="styles" class="col-sm-4 control-label">风味</label>
                                    <div class="col-sm-7">
                                        <select id="styles" name="styles" class="form-control">

                                        </select>

                                        <script>
                                            //展示界面用，正式使用需删除
                                            function getStyles_test(){
                                                var select = '';

                                                select+='<option value="1"> 特辣 </option>';
                                                select+='<option value="2"> 中辣 </option>';
                                                select+='<option value="2"> 微辣 </option>';

                                                return select;
                                            }

                                            //展示界面时使用
                                            $("#styles").html(getStyles_test());

                                            //正式使用
                                            //$("#styles").html(getStyles());
                                        </script>

                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="form-group">
                                    <label for="role" class="col-sm-4 control-label">分配厨师</label>
                                    <div class="col-sm-7">
                                        <select id="role" name="role" class="form-control">

                                        </select>

                                        <script>
                                            //展示界面用，正式使用需删除
                                            function getPrimaryRole_test(){
                                                var select = '';

                                                select+='<option value="1"> 甜点师 </option>';
                                                select+='<option value="2"> 汤料师 </option>';
                                                select+='<option value="2"> 炒品师 </option>';

                                                return select;
                                            }

                                            //展示界面时使用，正式使用需删除
                                            $("#role").html(getPrimaryRole_test());

                                            //正式使用
                                            //$("#role").html(getRole());
                                        </script>

                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="form-group">
                                    <label for="enable" class="col-sm-4 control-label">是否启用</label>
                                    <div class="col-sm-7">
                                        <select id="enable" name="enable" class="form-control">
                                            <option value="true"> 是 </option>
                                            <option value="true"> 否 </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                                <button type="button" class="btn btn-primary add-new">保存</button>
                                <button type="button" class="btn btn-default add-new-close" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--提示弹出框-->
    <div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
                </div>
                <div class="modal-body"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<script>
    //重置input
    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');

    }

    //重置表单
    function _reset(from) {
        $("#show-process").empty();

        from[0].reset();

        _reset_input(from.find("input"));

        $("#choosedPic").attr("src","/images/default_avatar_male.jpg");
    }

    //打开添加弹出框
    $(".btn.btn-primary.open-add-dialog").click(function () {
        window.flag = 'add';

        _reset($(".form-horizontal.add-new"));

        // $("#choosedPic").attr("src","/images/default_avatar_male.jpg");

        $("#dialog-update-title").html("新增");

        $("#dialog-update").modal("show");
    });

    //打开修改弹出框
    $(".btn.btn-success.open-update-dialog").click(function () {
        window.flag = 'update'

        var id = new Array();

        var selectedBox = $("input[name='visitor_id']:checked");

        window.id = id;
        console.log('clicked update');

        for(var i = 0; i < selectedBox.length; i++){
            id.push( selectedBox[i].value );

            if(id.length > 2){
                break;
            }
        }

        console.log(id);

        if (id.length != 0) {
            if(id.length > 1){
                $("#dialog-return").find(".modal-body").html("请选择一个访客");
                $("#dialog-return").modal("show");

                return ;
            }

            _reset($(".form-horizontal.add-new"));


            $("#dialog-title").html("修改");

            $("#dialog-update").modal("show");

            // 读取用户选中的用户信息
            $.get("/console/device_management/get/" + id[0], null, function (r, status) {
                console.log(r);

                $("#dialog-visitor-management-update-title").html("修改");
                $("#dialog-visitor-management-update").modal("show");

                $("#dialog-visitor-management-update").find("input[id='deviceId_old']").val(r.mac_id);

                $("#dialog-visitor-management-update").find("input[id='mac_id']").val(r.mac_id);
                $("#dialog-visitor-management-update").find("input[id='id']").val(r.id);
                $("#dialog-visitor-management-update").find("input[id='name']").val(r.name);
                $("#dialog-visitor-management-update").find("input[id='attributionOfDevice']").val(r.attributionOfDevice);
                $("#dialog-visitor-management-update").find("input[id='organization_name']").val(r.organization_name);
                $("#dialog-visitor-management-update").find("input[id='addressOfDevice']").val(r.addressOfDevice);
                $("#dialog-visitor-management-update").find("input[id='type']").val(r.type);
                $("#dialog-visitor-management-update").find("input[id='level']").val(r.level);
                $("#dialog-visitor-management-update").find("input[id='createTime']").val(r.create_time);
                $("#dialog-visitor-management-update").find("input[id='updateTime']").val(r.update_time);

            });

        } else {
            $(".bs-example-modal-sm").find(".modal-body").html("请选中人员后操作");
            $(".bs-example-modal-sm").modal("show");
        }
    });

    //重置input框的状态
    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    //为点击添加弹出框中的确认添加了点击事件
    $(".btn.btn-primary.add-new").click(function () {
        var startTime;
        var endTime;

        var isComplete = true;
        var isFormatted = true;

        //check input
        if ($("input[id='mac_id']").val() == "") {
            _set($("input[id='mac_id']"), "设备id");
            isComplete = false;
        }
        if ($("input[id='name']").val() == "") {
            _set($("input[id='name']"), "设备名称");
            isComplete = false;
        }
        if ($("input[id='attributionOfDevice']").val() == "") {
            _set($("input[id='attributionOfDevice']"), "设备归属");
            isComplete = false;
        }
        if ($("input[id='organization_name']").val() == "") {
            _set($("input[id='organization_name']"), "组织");
            isComplete = false;
        }
        if ($("input[id='addressOfDevice']").val() == "") {
            _set($("input[id='addressOfDevice']"), "设备安装地址");
            isComplete = false;
        }
        if ($("input[id='type']").val() == "") {
            _set($("input[id='type']"), "类型");
            isComplete = false;
        }
        if ($("input[id='level']").val() == "") {
            _set($("input[id='level']"), "等级");
            isComplete = false;
        }

        var flag_ = window.flag;
        console.log(window.flag);


        var form = new FormData();

        if(flag_ == "update") {
            form.append("id", $("input[id='id']").val());
        } else {
            form.append("id", 0);
        }
        form.append("mac_id", $("input[id='mac_id']").val());
        form.append("name", $("input[id='name']").val());
        form.append("attributionOfDevice", $("input[id='attributionOfDevice']").val());
        form.append("organization_name", $("input[id='organization_name']").val());
        form.append("addressOfDevice", $("input[id='addressOfDevice']").val());
        form.append("type", $("input[id='type']").val());
        form.append("level", $("input[id='level']").val());
        form.append("deviceId_old", $("input[id='deviceId_old']").val());
        form.append("updateTime", $("input[id='updateTime']").val());

        getFormmattedTime($("input[id='createTime']").val())

        form.append("createTime", getFormmattedTime( $("input[id='createTime']").val() ) );


        $.ajax({
            url: "/console/device_management/" + flag,
            timeout : timeout_network,
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status) {
                    case "SUCCEED" :
                        var message;
                        if (flag_ == 'add') {
                            message = "新增成功";
                        } else {
                            message = "修改成功";
                        }

                        $("#dialog-return").find(".modal-body").html(message);
                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-close").click();
                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break

                    case "FAILED" :
                        if (flag_ == 'add') {
                            message = "新增失败";
                        } else {
                            message = "修改失败";
                        }

                        $("#dialog-return").find(".modal-body").html(message);

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-close").click();

                        break
                }
            },
            error: function (r) {
                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });

        form = '';//避免重复点击

    });

    function doAllCheck(e){
        var list = $("input[name='visitor_id']");

        for(i in list){
            list[i].checked = !list[i].checked;
        }
    }

    function _formatte_id(value, row, index) {
        if(index == 0){
            contactsNameMap = new Map();
        }

        contactsNameMap.set(value,row.name);

        return '<input name="visitor_id" type="checkbox" value="' + value + '" />';
    }

    function _formatte_image(value, row, index) {
        var imgSrc = value;

        console.log("图像信息 :"+value);

        if(value == ""){
            imgSrc = "/images/default_avatar_male.jpg";

            return s = '<a class = "view"  href="javascript:void(0)"><img style="height:60px;border-radius:20%"  src=' + imgSrc+' /></a>';
        }

        var s = '<a class = "view"  href="javascript:void(0)"><img style="height:60px;border-radius:20%"  src="' + imgSrc+"&t="+Math.random() +'" /></a>';

        return s;
    }

    function _formatte_select(value, row, index) {
        var styles = value;

        var select = '<select class="form-control">'

        for(i in styles){
            select += '<option> '+i+' </option>';
        }

        select += '</select>'

        return select;
    }

    //当新增，修改页面开启时调用，查询一级菜单，风味，厨师身份信息
    function getFoodInfo(){}

    function getPrimaryMenu(){
        ajax({
            url : "",
            type : 'GET',
            dataType : 'JSON',
            async:false,

            success : function(res){

            },
            fail : function(res){

            },
            timeout : function(res){

            },
        })
    }

    function getStyles(){
        ajax({
            url : "",
            type : 'GET',
            dataType : 'JSON',
            async:false,

            success : function(res){

            },
            fail : function(res){

            },
            timeout : function(res){

            },
        })
    }

    function getRole(){
        ajax({
            url : "",
            type : 'GET',
            dataType : 'JSON',
            async:false,

            success : function(res){

            },
            fail : function(res){

            },
            timeout : function(res){

            },
        })
    }


    //注销
    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })
</script>

</body>
</html>