<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SOFTWARE</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <!--datePicker-->
    <link href="/style/jquery-ui.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>

    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.backstretch.min.js"></script>
    <script src="/javascript/scripts.js"></script>

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>

    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 450px;
            width: 100%;
        }

        .fixed-table-header {
            overflow-x: auto;
            clear:both;
        }

        table thead th{
            background:#275AB2;
        }
        thead{
            color:#FFFFFF;
        }

        .navbar-brand-right_{
            float:right;
        }
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar {
            display: inline-block;
        }

        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }

        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }

        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        th{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }


        .search{
            padding-bottom: 1em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W150 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>

</head>
<body>

<div id="wapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"> <strong> &nbsp &nbsp &nbsp ZXSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->

    <div id="nave_side">

    </div>

    <!--加载侧栏菜单-->
    <script>
        loadMenu();
    </script>

    <!--内容主体-->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        菜品管理
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="_table_user_search" class="table table-striped table-bordered table-hover" data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="id" class="W30" data-formatter="_formatte_id"><input id="doAllCheckBtn" type="checkbox" onclick="doAllCheck(this)"></th>
                                        <th data-field="picUrl" class="W100" data-formatter="_formatte_image">图像</th>
                                        <th data-field="name" class="W100">名称</th>
                                        <th data-field="menuName" class="W100" style="border:none;" >一级菜单</th>
                                        <th data-field="styles" class="W100" data-formatter="_formatte_style">风味</th>
                                        <th data-field="role"  class="W100" style="border:none;">分配厨师</th>
                                        <th data-field="enable" class="W100" style="border:none;" data-formatter="_formatte_select_show">是否启用</th>
                                        <th data-field="createTime" class="W100" style="border:none;" data-formatter="_formatte_time_create">创建时间</th>
                                        <th data-field="updateTime" class="W100" style="border:none;" data-formatter="_formatte_time_update">修改时间</th>
                                    </tr>
                                    </thead>

                                </table>

                                <div id="toolbar">
                                    <button class="btn btn-primary open-add-dialog" data-toggle="modal">新增
                                    </button>
                                    <button class="btn btn-success open-update-dialog" data-toggle="modal">修改
                                    </button>
                                    <button class="btn btn-danger delete-dialog">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>


    <!--弹出框-->

    <!--添加，修改弹出框-->
    <div id="dialog-update" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">菜品管理 | <span id="dialog-update-title"></span></h4>
                </div>

                <div class="modal-body">
                    <form role="form" class="form-horizontal add-new form-uploadfiles"
                          enctype="multipart/form-data"
                          method="POST">
                        <input type="text" style="display:none;" id="id" name="id"/>
                        <input type="text" style="display:none;" id="createTime" name="createTime"/>

                        <div class="row">
                            <div class="col-sm-5 text-center ">
                                <div class="thumbnail">
                                    <img id="choosedPic" style="height: 160px" src="/images/default_avatar_male.jpg">
                                    <div class="caption">
                                        <p>
                                            <label class="btn btn-primary choosePic" for="avatar-2">选择文件</label>
                                            <input id="avatar-2" name="avatar-2"
                                                   type="file" style="display:none"/>

                                            <a class="btn btn-default deletePic" role="button"
                                               style="display: none">删除图片</a>
                                        </p>
                                    </div>

                                    <lable id="show-process" class="control-label" style="color: #f50000;"></lable>

                                </div>
                            </div>

                            <div class="col-sm-7 ">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4 control-label">名称</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="name" name="name"
                                               data-toggle="tooltip" data-placement="top" maxlength="30"
                                               required="required"/>
                                    </div>

                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="form-group">
                                    <label for="menuId" class="col-sm-4 control-label">一级菜单</label>
                                    <div class="col-sm-7">
                                        <select id="menuId" name="menuId" class="form-control">

                                        </select>



                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="form-group">
                                    <label for="styles" class="col-sm-4 control-label">风味</label>
                                    <div class="col-sm-7">
                                        <select id="styles" name="styles" class="form-control">

                                        </select>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="form-group">
                                    <label for="role" class="col-sm-4 control-label">分配厨师</label>
                                    <div class="col-sm-7">
                                        <select id="role" name="role" class="form-control">

                                        </select>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <script>
                                    function getOptions(list){
                                        var select = ''

                                        for(x in list){
                                            select+='<option value="'+list[x].id+'"> '+list[x].name+' </option>';
                                        }

                                        return select;
                                    }

                                    function getFoodInfo(){
                                        $.ajax({
                                            url : "/admin/food/getFoodInfo",
                                            type : 'GET',
                                            dataType : 'JSON',
                                            async:false,

                                            success : function(res){
                                                switch (res.status){
                                                    case "SUCCEED":

                                                        $("#menuId").html(getOptions(res.list_menu));
                                                        $("#styles").html(getOptions(res.list_style));
                                                        $("#role").html(getOptions(res.list_role));

                                                        break;
                                                    case "ERROR":

                                                        break;
                                                }
                                            },
                                            fail : function(res){

                                            },
                                            timeout : function(res){

                                            },
                                        })
                                    }

                                    //获取厨师，风味，厨师角色等信息
                                    getFoodInfo();

                                </script>

                                <div class="form-group">
                                    <label for="enable" class="col-sm-4 control-label">是否启用</label>
                                    <div class="col-sm-7">
                                        <select id="enable" name="enable" class="form-control">
                                            <option value="1"> 是 </option>
                                            <option value="0"> 否 </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                                <button type="button" class="btn btn-primary add-new">保存</button>
                                <button type="button" class="btn btn-default add-new-close" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 弹出删除框 -->
    <div id="dialog-delete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel0">提示</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer modal-footer-delete-confirm">
                    <button type="button" class="btn btn-danger btn-delete-confirm" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-default btn-delete-cancel" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--提示弹出框-->
    <div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
                </div>
                <div class="modal-body"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<script>
    var contactsNameMap = new Map();

    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');
    });


    $(document).ready(function() {
        $('#_table_user_search').bootstrapTable({
            method: 'get',
            url: "/admin/food/getFoodList",
            striped: true,
            height:300,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            pageNumber: 1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求
            queryParams: function (params) {

                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,
                    search: $(".search").find("input").val(),
                    sort: params.sort,
                    order: params.order,
                };
            },
            responseHandler: function (res) {
                $("#doAllCheckBtn").checked != $("#doAllCheckBtn").checked;

                return {
                    "rows": res.rows,
                    "total": res.total
                };
            },
            onPostBody : function(){
                //adjustTableHeight($(".fixed-table-body"),20);//custom-script
            },
            onSort(name,order){
                /*$(".temperature").find(".sortable").empty();
                $(".humidity").find(".sortable").empty();

                $(".temperature").find(".sortable").append("温度");
                $(".humidity").find(".sortable").append("湿度");

                if(name == "temperature"){

                    $(".humidity").find(".sortable").append('<i class="glyphicon sort_default"></i>');

                    if(order == "asc"){
                        $(".temperature").find(".sortable").append('<i class="glyphicon sort_asc"></i>');
                    } else {
                        $(".temperature").find(".sortable").append('<i class="glyphicon sort_desc"></i>');
                    }

                } else {//humidity
                    $(".temperature").find(".sortable").append('<i class="glyphicon sort_default"></i>');

                    if (order == "asc") {
                        $(".humidity").find(".sortable").append('<i class="glyphicon sort_asc"></i>');
                    } else {
                        $(".humidity").find(".sortable").append('<i class="glyphicon sort_desc"></i>');
                    }
                }*/
            }
        });
    });

    //重置input
    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');

    }

    function isPic(picture){
        return (/\.(jpg|jpeg|png)$/).test(picture);
    }

    //重置表单
    function _reset(from) {
        $("#show-process").empty();

        from[0].reset();

        _reset_input(from.find("input"));

        $("#choosedPic").attr("src","/images/default_avatar_male.jpg");
    }

    //打开添加弹出框
    $(".btn.btn-primary.open-add-dialog").click(function () {
        window.flag = 'add';

        _reset($(".form-horizontal.add-new"));

        // $("#choosedPic").attr("src","/images/default_avatar_male.jpg");

        $("#dialog-update-title").html("新增");

        $("#dialog-update").modal("show");
    });

    //打开修改弹出框
    $(".btn.btn-success.open-update-dialog").click(function () {
        window.flag = 'update'

        var id = new Array();

        var selectedBox = $("input[name='table_id']:checked");

        window.id = id;
        console.log('clicked update');

        for(var i = 0; i < selectedBox.length; i++){
            id.push( selectedBox[i].value );

            if(id.length > 2){
                break;
            }
        }

        console.log(id);

        if (id.length != 0) {
            if(id.length > 1){
                $("#dialog-return").find(".modal-body").html("请选择一个菜品");
                $("#dialog-return").modal("show");

                return ;
            }

            _reset($(".form-horizontal.add-new"));


            $("#dialog-update-title").html("修改");

            $("#dialog-update").modal("show");

            // 读取用户选中的信息
            $.get("/admin/food/get/" + id[0], null, function (res, status) {
                if(res.status == "FAILED"){
                    $("#dialog-return").find(".modal-body").html("请求失败");
                    $("#dialog-return").modal("show");

                    return ;
                }

                $("#dialog-update-title").html("修改");
                $("#dialog-update").modal("show");

                $("#dialog-update").find("input[id='id']").val(res.food.id);
                $("#dialog-update").find("input[id='createTime']").val(res.food.createTime);

                $("#dialog-update").find("input[id='name']").val(res.food.name);

                $("#dialog-update").find("select[id='enable']").find("option[value = '"+res.food.enable+"']").attr("selected", "selected");
                $("#dialog-update").find("select[id='menuId']").find("option[value = '"+res.food.menuId+"']").attr("selected", "selected");
                $("#dialog-update").find("select[id='role']").find("option[value = '"+res.food.role+"']").attr("selected", "selected");
                $("#dialog-update").find("select[id='styles']").find("option[value = '"+res.food.styles+"']").attr("selected", "selected");

                $("#choosedPic").attr('src', res.food.picUrl);

                var picNames = res.food.picUrl.split("/");

                window.picName = "image/"+picNames[picNames.length-1];
            });

        } else {
            $(".bs-example-modal-sm").find(".modal-body").html("请选中人员后操作");
            $(".bs-example-modal-sm").modal("show");
        }
    });

    //重置input框的状态
    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    //为点击添加弹出框中的确认添加了点击事件
    $(".btn.btn-primary.add-new").click(function () {
        var startTime;
        var endTime;

        var isComplete = true;
        var isFormatted = true;

        //check input
        if ($("input[id='name']").val() == "") {
            _set($("input[id='name']"), "设备名称");
            isComplete = false;
        }

        var flag_ = window.flag;
        console.log(window.flag);

        var form = new FormData();

        var file = $("#avatar-2")[0].files[0];

        if(file == undefined){
            $("#dialog-return").find(".modal-body").html("请选择图片")
        }

        form.append("file", file);

        if(flag_ == "update") {
            form.append("id", $("input[id='id']").val());
        } else {
            form.append("id", 0);
        }
        form.append("name", $("input[id='name']").val());
        form.append("createTime", $("input[id='createTime']").val());
        form.append("menuId", $("select[id='menuId']").val());
        form.append("role", $("select[id='role']").val());
        form.append("styles", $("select[id='styles']").val());
        form.append("enable", $("select[id='enable']").val());
        form.append("picName", window.picName);

        $.ajax({
            url: "/admin/food/" + flag,
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status) {
                    case "SUCCEED" :
                        var message;
                        if (flag_ == 'add') {
                            message = "新增成功";
                        } else {
                            message = "修改成功";
                        }

                        $("#dialog-return").find(".modal-body").html(message);
                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-close").click();
                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break

                    case "FAILED" :
                        if (flag_ == 'add') {
                            message = "新增失败";
                        } else {
                            message = "修改失败";
                        }

                        $("#dialog-return").find(".modal-body").html(message);

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-close").click();

                        break
                }
            },
            error: function (r) {
                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });

        form = '';//避免重复点击

    });

    //点击删除按钮,打开删除确认dialog
    $(".btn.btn-danger.delete-dialog").click(function (){
        var selectedBox = $("input[name='table_id']:checked");

        var id = new Array();

        for(var i = 0; i < selectedBox.length; i++){
            id.push(selectedBox[i].value);
        }

        if (id.length > 0) {
            $("#dialog-delete").find(".modal-body").html("是否删除一级菜单?</br>");

            for(var i = 0; i < id.length; i++){
                $("#dialog-delete").find(".modal-body").append("</br>"+contactsNameMap.get( parseInt(id[i]) ));
            }

            $("#dialog-delete").modal("show");
        } else {
            $("#dialog-return").find(".modal-body").html("请选择一级菜单");
            $("#dialog-return").modal("show");
        }
    })

    //删除图片
    $(".btn.btn-default.deletePic").click(function () {
        var file_select = $("#avatar-2");

        file_select.after(file_select.clone().val(""));

        file_select.remove();

        $("#choosedPic").attr('src', src = "/images/default_avatar_male.jpg");
    })

    $(".btn.btn-danger.btn-delete-confirm").click(function () {
        console.log('clicked the delete');

        var list_id = new Array();

        var selectedBox = $("input[name='table_id']:checked");

        for(var i = 0; i <  selectedBox.length; i++){
            list_id.push( parseInt(selectedBox[i].value) );
        }

        console.log(list_id);

        var form = new FormData();

        form.append("list_ID", list_id);

        $.ajax({
            url: "/admin/food/delete",
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status) {
                    case "SUCCEED" :
                        $("#dialog-return").find(".modal-body").html("删除成功");

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.btn-delete-cancel").click();
                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break

                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("删除失败");

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        break
                }
            },
            error: function (r) {

                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });
    })

    //当选择图片时调用
    $("#avatar-2").change(function (event) {
        $(".btn.btn-primary.add-new").attr({ disabled: "disabled" });

        $("#show-process").empty();
        $("#show-process").append("检查中........");

        var isComplete = false;

        var file = event.target.files[0];

        if(!isPic(file.name)){
            $("#show-process").empty();
            $("#show-process").append("请选择以,jpg,jpeg,png结尾的图片");

            $("#avatar-2").val('');

            $("#choosedPic").attr('src',src="/images/default_avatar_male.jpg");


            return;
        }

        if(file.size > 1024*1024*8){
            $("#show-process").empty();
            $("#show-process").append("图片大小不能超过 8MB!");

            $("#avatar-2").val('');

            $("#choosedPic").attr('src',src="/images/default_avatar_male.jpg");


            return;
        }

        $("#show-process").empty();

        $(".btn.btn-primary.add-new").removeAttr("disabled");

        var URL = window.URL || window.webkitURL;

        var imgURL = URL.createObjectURL(file);

        $("#choosedPic").attr('src', src = imgURL);


        // var form = new FormData();
        //
        // form.append("file", file);

        // $.ajax({
        //     url : "/admin/food/detect",
        //     type: "post",
        //     data: form,
        //     processData: false,
        //     contentType: false,
        //
        //     success : function (res) {
        //         $("#dialog-return-show-process").modal('hide');
        //
        //         switch (res.status){
        //             case "SUCCEED" :
        //                 $("#show-process").empty();
        //
        //                 isComplete = true;
        //
        //                 break;
        //             case "FAILED" :
        //                 if(res.errorMessage != undefined){
        //                     $("#show-process").empty();
        //                     $("#show-process").append(res.errorMessage+"，请重新选择照片");
        //
        //                     //$("#dialog-return").find(".modal-body").html(res.errorMessage+"，请重新选择照片");
        //                 } else {
        //                     $("#show-process").empty();
        //                     $("#show-process").append("请检查您的照片");
        //
        //                     //$("#dialog-return").find(".modal-body").html("请检查您的照片");
        //                 }
        //
        //                 //$("#dialog-return").modal("show");
        //
        //                 $("#avatar-2").val('');
        //
        //                 return;
        //         }
        //     },
        //     error : function(){
        //         $("#dialog-return").find(".modal-body").html("网络错误，请重试");
        //
        //         $("#dialog-return").modal("show");
        //
        //         $("#avatar-2").val('');
        //
        //         return;
        //     },
        //
        //     complete: function () {
        //         $(".btn.btn-primary.add-new-user").removeAttr("disabled");
        //
        //         $("#dialog-return-show-process").modal('hide');
        //
        //         if(isComplete) {
        //
        //             var URL = window.URL || window.webkitURL;
        //
        //             var imgURL = URL.createObjectURL(file);
        //
        //             $("#choosedPic").attr('src', src = imgURL);
        //
        //             console.log(imgURL);
        //         }
        //     },
        //
        // });
        // $.ajax({
        //     url : "/console/employee_management/detect",
        //     async : false,
        //     data: form,
        //     type : "POST",
        //     success : function (res) {
        //         switch (res.status){
        //             case "SUCCEED" :
        //
        //                 break;
        //             case "FAILED" :
        //                 $("#dialog-return").find(".modal-body").html(r.message);
        //
        //                 $("#dialog-return").modal("show");
        //
        //                 return ;
        //                 break;
        //         }
        //     },
        //     error : function(){
        //         $("#dialog-return").find(".modal-body").html("网络错误，请重试");
        //
        //         $("#dialog-return").modal("show");
        //
        //         return ;
        //     }
        // })
    })

    function doAllCheck(e){
        var list = $("input[name='visitor_id']");

        for(i in list){
            list[i].checked = !list[i].checked;
        }
    }

    function _formatte_id(value, row, index) {
        if(index == 0){
            contactsNameMap = new Map();
        }

        contactsNameMap.set(value,row.name);

        return '<input name="table_id" type="checkbox" value="' + value + '" />';
    }

    function _formatte_image(value, row, index) {
        var imgSrc = value;

        console.log("图像信息 :"+value);

        if(value == ""){
            imgSrc = "/images/default_avatar_male.jpg";

            return s = '<a class = "view"  href="javascript:void(0)"><img style="height:120px;border-radius:20%"  src=' + imgSrc+' /></a>';
        }

        var s = '<a class = "view"  href="javascript:void(0)"><img style="height:120px;border-radius:20%"  src="' + imgSrc+'" /></a>';

        return s;
    }

    function _formatte_select(value, row, index) {
        var styles = value;

        var select = '<select class="form-control">'

        for(i in styles){
            select += '<option> '+i+' </option>';
        }

        select += '</select>'

        return select;
    }

    function _formatte_time_create(value, row, index) {
        if(value==undefined){
            return '-'
        }

        return getFormattedTime(value);
    }

    function _formatte_time_update(value, row, index) {
        if(value==undefined){
            return '-'
        }

        return getFormattedTime(value);
    }

    function _formatte_select_show(value, row, index) {
        return $.trim(value) ==$.trim('1') ? "是":"否" ;
    }

    function _formatte_style(value, row, index) {
        var styles = "";

        for(x in value){
            styles += value[x]+"  ";
        }

        return styles;
    }

    //当新增，修改页面开启时调用，查询一级菜单，风味，厨师身份信息
    function getFoodInfo(){
        ajax({
            url : "/admin/food/getFoodInfo",
            type : 'GET',
            dataType : 'JSON',
            async:false,

            success : function(res){
                switch (res){
                    case "SUCCEED":
                        return {
                            list_menu : res.list_menu,
                            list_style : res.list_style,
                            list_role : res.list_role
                        }

                        break;
                    case "ERROR":

                        break;
                }
            },
            fail : function(res){

            },
            timeout : function(res){

            },
        })
    }

    //注销
    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })
</script>

</body>
</html>